@font-face {
  font-family: 'Futura Book';
  src:
  url('../fonts/futura/futurabookc.woff') format('woff'),
  url('../fonts/futura/futurabookc.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}
@font-face {
  font-family: 'Futura Demi';
  src:
  url('../fonts/futura/futurademic.woff') format('woff'),
  url('../fonts/futura/futurademic.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}